html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

body { font-family: "Roboto", Arial, sans-serif; font-size: 14px; line-height: 1.6; min-width: 1100px; width: 100%; background-color: #FFF; }

.out { position: relative; margin: 0 auto -395px; min-height: 100%; height: auto; *zoom: 1; }
.out:after { content: " "; display: table; clear: both; }

.l_container { position: relative; width: 1080px; padding: 0 10px; margin: 0 auto; *zoom: 1; }
.l_container:after { content: " "; display: table; clear: both; }

.header { *zoom: 1; }
.header:after { content: " "; display: table; clear: both; }
.header__top { background-color: #FFF; *zoom: 1; }
.header__top:after { content: " "; display: table; clear: both; }
.header__top a { position: relative; float: left; width: 360px; line-height: 45px; text-align: center; color: #363636; text-transform: uppercase; font-family: "Roboto", Arial, sans-serif; font-weight: 700; }
.header__top a:hover { color: #2ec154; }
.header__top a:before { content: ""; position: absolute; top: 15px; left: 0; background: url('../img/icons-sb52201b83f.png') 0 -525px no-repeat; width: 2px; height: 13px; }
.header__top a:last-child:after { content: ""; position: absolute; top: 15px; right: 0; background: url('../img/icons-sb52201b83f.png') 0 -525px no-repeat; width: 2px; height: 13px; }

.header__share i, .header__delivery i, .heaader__shop i { position: absolute; top: 12px; }

.header__share i { left: 90px; background: url('../img/icons-sb52201b83f.png') 0 -1499px no-repeat; width: 16px; height: 17px; }

.header__delivery i { left: 60px; background: url('../img/icons-sb52201b83f.png') 0 -252px no-repeat; width: 29px; height: 18px; }

.heaader__shop i { left: 90px; background: url('../img/icons-sb52201b83f.png') 0 -1686px no-repeat; width: 20px; height: 17px; }

.header__center { background-color: #F5F5F5; padding: 1px; *zoom: 1; }
.header__center:after { content: " "; display: table; clear: both; }
.header__center b { position: absolute; top: 10px; right: 250px; background: url('../img/icons-sb52201b83f.png') 0 -548px no-repeat; width: 114px; height: 128px; }

.logo { margin: 8px 0; float: left; background: url('../img/icons-sb52201b83f.png') 0 -812px no-repeat; width: 312px; height: 124px; font: 0/0 a; text-shadow: none; color: transparent; }

.work { width: 545px; float: right; margin-top: 45px; *zoom: 1; }
.work:after { content: " "; display: table; clear: both; }
.work_1 { float: left; }
.work_2 { float: right; }
.work a { display: inline-block; position: relative; font-size: 20px; line-height: 24px; color: #363636; margin-bottom: 14px; font-family: "Roboto", Arial, sans-serif; font-weight: 300; }
.work a:hover { color: #2ec154; }
.work a i { position: absolute; top: 2px; }
.work p { position: relative; font-size: 16px; color: #666; font-family: "Roboto", Arial, sans-serif; font-weight: 300; }
.work p i { position: absolute; top: 2px; left: -39px; background: url('../img/icons-sb52201b83f.png') 0 -125px no-repeat; width: 21px; height: 21px; }

.header__tel i { left: -35px; background: url('../img/icons-sb52201b83f.png') 0 -1176px no-repeat; width: 13px; height: 22px; }

.header__user { position: relative; }
.header__user a { font-size: 18px; }
.header__user a:hover { color: #2ec154; }
.header__user i { position: absolute; top: 2px; left: -30px; background: url('../img/icons-sb52201b83f.png') 0 -394px no-repeat; width: 21px; height: 22px; }
.header__user span { font-size: 20px; padding: 0 2px; }

.header__reg { font-size: 18px; }
.header__reg i { left: -30px; background: url('../img/icons-sb52201b83f.png') 0 0 no-repeat; width: 21px; height: 21px; }
.header__reg span { padding: 0 3px; }

.header__bottom { background-color: #F5F5F5; padding: 1px; *zoom: 1; }
.header__bottom:after { content: " "; display: table; clear: both; }

.header__nav { float: left; *zoom: 1; }
.header__nav:after { content: " "; display: table; clear: both; }
.header__nav li { position: relative; display: inline-block; height: 75px; }
.header__nav li:before { content: ""; position: absolute; left: -3px; top: 35px; background: url('../img/icons-sb52201b83f.png') 0 -686px no-repeat; width: 6px; height: 6px; }
.header__nav li:first-child:before { display: none; }
.header__nav li:first-child a { margin-left: 0; }
.header__nav a { display: inline-block; color: #363636; border-bottom: 1px solid transparent; font-size: 16px; margin: 23px 16px 0; font-family: "Roboto", Arial, sans-serif; font-weight: 300; }
.header__nav a:hover { color: #2ec154; border-bottom: 1px solid #2ec154; }

.header__search { width: 420px; float: right; }
.header__search_wrap { position: relative; margin-top: 20px; float: left; }
.header__search_wrap input { width: 240px; height: 28px; border: 1px solid #e4e4e4; color: #A3A3A3; font-style: italic; line-height: 28px; padding: 0 28px 0 14px; }
.header__search_wrap button { position: absolute; background-color: transparent; top: 7px; right: 10px; background: url('../img/icons-sb52201b83f.png') 0 -1012px no-repeat; width: 16px; height: 16px; }
.header__search a { color: #2ec154; font-size: 13px; border-bottom: 1px dotted #2ec154; float: right; margin-right: -2px; margin-top: 25px; }
.header__search a:hover { border-bottom: 1px solid transparent; }

.footer { height: 395px; *zoom: 1; }
.footer:after { content: " "; display: table; clear: both; }
.footer__subscribe { background-color: #302F2F; height: 60px; }
.footer__subscribe_wrap { height: 60px; width: 840px; position: absolute; top: 50%; left: 50%; -moz-transform: translate(-50%, 0%); -ms-transform: translate(-50%, 0%); -webkit-transform: translate(-50%, 0%); transform: translate(-50%, 0%); }
.footer__subscribe_wrap p { float: left; font-size: 18px; color: #FFF; line-height: 60px; margin-right: 25px; font-family: "Roboto", Arial, sans-serif; font-weight: 300; }
.footer__subscribe_search { float: left; position: relative; }
.footer__subscribe_search input { width: 190px; padding: 5px 45px 5px 15px; color: #707070; font-size: 14px; margin-top: 15px; margin-right: 10px; font-family: "Roboto", Arial, sans-serif; font-weight: 300; }
.footer__subscribe_search button { position: absolute; top: 20px; right: 20px; background: url('../img/icons-sb52201b83f.png') 0 -752px no-repeat; width: 25px; height: 16px; }

.footer__submit { width: 245px; height: 27px; text-align: center; padding: 5px 0; color: #FFF; margin-top: 15px; background-color: #707070; font-family: "Roboto", Arial, sans-serif; font-weight: 300; }

.footer__center { background-color: #FFF; padding: 30px 0 20px; border-bottom: 1px solid #DFDFDF; *zoom: 1; }
.footer__center:after { content: " "; display: table; clear: both; }
.footer__center_left { float: left; width: 200px; height: 205px; *zoom: 1; }
.footer__center_left:after { content: " "; display: table; clear: both; }

.footer__logo { background: url('../img/icons-sb52201b83f.png') 0 -946px no-repeat; width: 136px; height: 56px; float: left; font: 0/0 a; text-shadow: none; color: transparent; }

.footer__button { position: relative; margin-top: 10px; float: left; width: 127px; height: 31px; color: #FFF; font-size: 13px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRiNmFiYSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNThhMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4b6aba), color-stop(100%, #3a58a0)); background-image: -moz-linear-gradient(#4b6aba, #3a58a0); background-image: -webkit-linear-gradient(#4b6aba, #3a58a0); background-image: linear-gradient(#4b6aba, #3a58a0); font-family: "Roboto", Arial, sans-serif; font-weight: 400; }
.footer__button i { position: absolute; top: 4px; left: 4px; background: url('../img/icons-sb52201b83f.png') 0 -491px no-repeat; width: 21px; height: 24px; }

.footer__list { float: left; margin-right: 90px; }
.footer__list:last-child { margin-right: 0; }
.footer__list li { line-height: 24px; color: #363636; font-family: "Roboto", Arial, sans-serif; font-weight: 300; }
.footer__list h3 { line-height: 28px; color: #363636; font-family: "Roboto", Arial, sans-serif; font-weight: 700; }
.footer__list a, .footer__list .soc { display: inline-block; line-height: 24px; color: #363636; position: relative; font-family: "Roboto", Arial, sans-serif; font-weight: 300; }
.footer__list a:hover, .footer__list .soc:hover { color: #2ec154; }
.footer__list .soc { margin-left: 23px; }
.footer__list i { position: absolute; top: 5px; }
.footer__list span { margin-bottom: 5px; font-family: "Roboto", Arial, sans-serif; font-weight: 400; }

.vk { left: -25px; background: url('../img/icons-sb52201b83f.png') 0 -1848px no-repeat; width: 19px; height: 9px; }

.ins { left: -22px; background: url('../img/icons-sb52201b83f.png') 0 -702px no-repeat; width: 12px; height: 12px; }

.f { left: -20px; background: url('../img/icons-sb52201b83f.png') 0 -468px no-repeat; width: 7px; height: 13px; }

.footer__bottom { position: relative; padding: 20px 0 15px; *zoom: 1; }
.footer__bottom:after { content: " "; display: table; clear: both; }

.copy { float: left; width: 122px; *zoom: 1; }
.copy:after { content: " "; display: table; clear: both; }

.footer__nav { position: absolute; top: 50%; left: 50%; -moz-transform: translate(-60%, -50%); -ms-transform: translate(-60%, -50%); -webkit-transform: translate(-60%, -50%); transform: translate(-60%, -50%); }
.footer__nav li { display: inline-block; text-align: center; margin-right: 20px; font-family: "Roboto", Arial, sans-serif; font-weight: 400; }
.footer__nav a { position: relative; display: block; color: #363636; font-size: 13px; margin-top: 35px; }
.footer__nav a:hover { color: #2ec154; }
.footer__nav a i { position: absolute; }

.self { top: -23px; left: 23px; background: url('../img/icons-sb52201b83f.png') 0 -1686px no-repeat; width: 20px; height: 17px; }

.courier { top: -28px; left: 20px; background: url('../img/icons-sb52201b83f.png') 0 -217px no-repeat; width: 23px; height: 25px; }

.post { top: -28px; left: 23px; background: url('../img/icons-sb52201b83f.png') 0 -1323px no-repeat; width: 52px; height: 25px; }

.pick { top: -28px; left: 40px; background: url('../img/icons-sb52201b83f.png') 0 -1289px no-repeat; width: 32px; height: 24px; }

.fin { float: right; }
.fin button { position: relative; width: 53px; height: 33px; margin-left: 10px; background-color: transparent; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.17); -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.17); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.17); }
.fin button:hover { -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

.q, .wb, .jd, .mc, .v { position: absolute; top: 50%; left: 50%; -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.q { background: url('../img/icons-sb52201b83f.png') 0 -1358px no-repeat; width: 39px; height: 21px; }

.wb { background: url('../img/icons-sb52201b83f.png') 0 -1867px no-repeat; width: 44px; height: 14px; }

.jd { background: url('../img/icons-sb52201b83f.png') 0 -724px no-repeat; width: 42px; height: 18px; }

.mc { background: url('../img/icons-sb52201b83f.png') 0 -1144px no-repeat; width: 36px; height: 22px; }

.v { background: url('../img/icons-sb52201b83f.png') 0 -1821px no-repeat; width: 44px; height: 17px; }

.overlay { display: block; position: fixed; z-index: 1000; top: 0; bottom: 0; left: 0; right: 0; background-color: rgba(0, 0, 0, 0.3); }

.popup { position: fixed; z-index: 2000; top: 100px; right: 250px; background-color: #FFF; width: 273px; height: 278px; padding: 25px 25px 20px 25px; -moz-box-shadow: 0 7px 5px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 7px 5px rgba(0, 0, 0, 0.2); box-shadow: 0 7px 5px rgba(0, 0, 0, 0.2); }
.popup__top { position: relative; text-align: center; padding-top: 20px; }
.popup__top span { text-transform: uppercase; font-size: 15px; color: #363636; font-family: "Roboto", Arial, sans-serif; font-weight: 700; }
.popup__close { position: absolute; top: -55px; right: -65px; background: url('../img/icons-sb52201b83f.png') 0 -156px no-repeat; width: 29px; height: 29px; }
.popup__main p { display: inline-block; font-size: 15px; line-height: 17px; font-family: "Roboto", Arial, sans-serif; font-weight: 300; }
.popup__main a { color: #2ec154; font-size: 15px; line-height: 17px; float: left; font-family: "Roboto", Arial, sans-serif; font-weight: 400; border-bottom: 1px dotted #2ec154; font-family: "Roboto", Arial, sans-serif; font-weight: 400; }
.popup__main a:hover { border-bottom: 1px solid transparent; }

.popup__btn { margin-top: 15px; height: 27px; }
.popup__btn a { color: #2ec154; font-size: 15px; float: left; margin-top: 8px; font-family: "Roboto", Arial, sans-serif; font-weight: 400; border-bottom: 1px dotted #2ec154; }
.popup__btn a:hover { border-bottom: 1px solid transparent; }
.popup__btn .btn { width: 113px; height: 27px; font-size: 15px; float: right; font-family: "Roboto", Arial, sans-serif; font-weight: 400; }

.popup-goods { position: fixed; top: 100px; width: 865px; height: 380px; left: 50%; margin-left: -432px; z-index: 1000; background-color: #FFF; -moz-box-shadow: 0 7px 5px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 7px 5px rgba(0, 0, 0, 0.2); box-shadow: 0 7px 5px rgba(0, 0, 0, 0.2); }

.product { width: 400px; float: left; margin: 30px 0 30px 30px; height: 320px; }

.product__left { position: relative; height: 100%; }
.product__left_big { float: left; }
.product__left_small { float: right; margin-right: 35px; }
.product__left:before { content: ""; position: absolute; right: 15px; top: 0; bottom: 0; height: 100%; width: 3px; background-color: #e8e7e7; }
.product__left:after { content: ""; position: absolute; top: 0; right: 15px; height: 83px; width: 3px; background-color: #707070; }

.order { position: relative; width: 400px; float: right; height: 320px; margin: 30px 30px 30px 0; }
.order .lot__name { width: 315px; }
.order .lot__item { margin-bottom: 20px; }

.input__row .btn { margin-left: 23px; font-family: "Roboto", Arial, sans-serif; font-weight: 700; }
.input__row .btn:hover { color: #2ec154; background-color: #FFF; -moz-transition: 0.5s; -o-transition: 0.5s; -webkit-transition: 0.5s; transition: 0.5s; }

.input-row__field { display: inline-block; vertical-align: middle; width: 175px; }

.select { position: relative; cursor: pointer; font-size: 15px; font-weight: bold; }

.select.is-active .select__text:after { -ms-transform: rotate(180deg); -webkit-transform: rotate(180deg); transform: rotate(180deg); }

.select__text { position: relative; display: block; padding: 0 25px 0 11px; height: 33px; font-size: 15px; text-transform: uppercase; line-height: 33px; border: 1px solid #cfc9c9; background: #f5f5f5; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; font-family: "Roboto", Arial, sans-serif; font-weight: 400; }
.select__text:after { content: ""; position: absolute; top: 13px; right: 9px; width: 0px; height: 0px; border-style: solid; border-width: 6px 5.5px 0 5.5px; border-color: #808080 transparent transparent transparent; }

.select__list { position: absolute; display: none; left: 0; right: 0; top: 32px; z-index: 100; border: 1px solid #cfc9c9; background: #fff; font-weight: normal; }

.select__list li { font-size: 15px; text-transform: uppercase; line-height: 33px; background: #f5f5f5; padding: 5px 11px; cursor: pointer; -webkit-transition: background 0.2s linear; -moz-transition: background 0.2s linear; -o-transition: background 0.2s linear; transition: background 0.2s linear; }
.select__list li:hover { background-color: #ccc; }

.order__inside { margin-top: 20px; }
.order__inside h3 { font-size: 15px; border-bottom: 1px solid #d9d9d9; margin-bottom: 7px; font-family: "Roboto", Arial, sans-serif; font-weight: 300; }
.order__inside p { font-size: 14px; color: #363636; font-family: "Roboto", Arial, sans-serif; font-weight: 300; }
.order__inside a { position: absolute; bottom: -5px; left: 0; text-transform: uppercase; font-size: 15px; color: #2ec154; border-bottom: 1px dotted #2ec154; }
.order__inside a:hover { border-bottom: 1px solid transparent; }

.popup-size { position: fixed; width: 234px; height: 243px; top: 50%; margin-top: -121px; left: 50%; margin-left: -117px; z-index: 1000; -moz-box-shadow: 0 7px 5px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 7px 5px rgba(0, 0, 0, 0.2); box-shadow: 0 7px 5px rgba(0, 0, 0, 0.2); background-color: #FFF; }
.popup-size .input-row { border: 1px solid #fff; }

.input-row_size { width: 100%; text-align: center; height: 45px; }
.input-row_size .select__text { height: 45px; line-height: 45px; font-size: 15px; text-transform: uppercase; color: #FFF; background-color: #8B8B8B; font-family: "Roboto", Arial, sans-serif; font-weight: 500; }
.input-row_size .select__text:after { content: ""; position: absolute; top: 19px; right: 30px; width: 0px; height: 0px; border-style: solid; border-width: 6px 5.5px 0 5.5px; border-color: #404040 transparent transparent transparent; }
.input-row_size .select__list { top: 44px; }
.input-row_size .scroll-pane { height: 183px; }
.input-row_size .scroll-pane li { text-align: left; padding-left: 15px; font-size: 15px; height: 25px; color: #363636; font-family: "Roboto", Arial, sans-serif; font-weight: 400; }
.input-row_size .scroll-pane li:first-child { margin-top: 5px; }
.input-row_size .scroll-pane li:hover { background-color: #E2E2E2; }
.input-row_size .jspDrag { background-color: #707070; width: 3px; }
.input-row_size .jspTrack { background-color: #e3e2e2; width: 3px; }

.popup__location { position: fixed; width: 900px; top: 50%; margin-left: -450px; height: 475px; left: 50%; margin-top: -237px; background-color: #FFF; z-index: 1001; }

.mapin { position: relative; width: 100%; height: 400px; overflow: hidden; padding: 1px; *zoom: 1; }
.mapin:after { content: " "; display: table; clear: both; }

.ymaps-2-1-26-controls__toolbar, .ymaps-2-1-26-copyright, .ymaps-2-1-26-zoom__scale { display: none !important; }

.ymaps-2-1-26-zoom { display: block !important; height: 35px !important; }

.ymaps-2-1-26-controls__control { top: 240px !important; left: 20px !important; }

.ymaps-2-1-26-zoom { bottom: -66px; }

.ymaps-2-1-26-zoom__plus .ymaps-2-1-26-zoom__icon { width: 43px !important; height: 43px !important; background-image: url("../img/icons/map__plus.png") !important; }

.ymaps-2-1-26-zoom .ymaps-2-1-26-zoom__button { width: 0 !important; }

.ymaps-2-1-26-button_theme_normal { background: none !important; }
.ymaps-2-1-26-button_theme_normal:before { width: 0 !important; height: 0 !important; overflow: hidden !important; }

.ymaps-2-1-26-zoom__minus .ymaps-2-1-26-zoom__icon { background-image: url("../img/icons/map__minus.png") !important; width: 43px !important; height: 43px !important; }

.ymaps-2-1-26-zoom .ymaps-2-1-26-zoom__button { width: 0 !important; }

.popup__location-town { margin-top: 15px; }
.popup__location-town p { font-size: 14px; color: #363636; line-height: 16px; margin-left: 20px; font-family: "Roboto", Arial, sans-serif; font-weight: 400; }
.popup__location-town p span { margin-left: 5px; font-size: 14px; font-family: "Roboto", Arial, sans-serif; font-weight: 300; }
.popup__location-town span { margin-left: 20px; line-height: 16px; font-size: 14px; font-family: "Roboto", Arial, sans-serif; font-weight: 300; }

.catalog__left { position: relative; width: 50%; float: left; }

.carousel { position: relative; }

.scale { position: absolute; display: block; top: 10px; right: 50px; background: url('../img/icons-sb52201b83f.png') 0 -1430px no-repeat; width: 59px; height: 59px; }

.carousel__preview { margin-top: 20px; }
.carousel__preview .slick-slide img { border: 1px solid #2ec154; }

.share { margin-top: 20px; *zoom: 1; }
.share:after { content: " "; display: table; clear: both; }
.share p { float: left; text-transform: uppercase; display: inline-block; font-size: 14px; color: #363636; margin-top: 4px; margin-right: 25px; font-family: "Roboto", Arial, sans-serif; font-weight: 400; }

.facebook, .vk { position: relative; float: left; width: 187px; margin-right: 10px; }
.facebook__btn, .vk__btn { position: relative; display: block; float: left; }
.facebook__btn:after, .vk__btn:after { content: ""; position: absolute; top: -3px; right: -54px; background: url('../img/icons-sb52201b83f.png') 0 -1561px no-repeat; width: 46px; height: 31px; }

.facebook__btn { background: url('../img/icons-sb52201b83f.png') 0 -1526px no-repeat; width: 101px; height: 25px; }
.facebook span { position: absolute; top: 1px; right: 46px; }

.vk__btn { background: url('../img/icons-sb52201b83f.png') 0 -1602px no-repeat; width: 122px; height: 26px; }
.vk span { position: absolute; top: 1px; right: 27px; }

.catalog__right { float: right; width: 45.5%; *zoom: 1; }
.catalog__right:after { content: " "; display: table; clear: both; }

.exposition { margin-bottom: 15px; *zoom: 1; }
.exposition:after { content: " "; display: table; clear: both; }
.exposition__title { font-size: 20px; color: #363636; margin-bottom: 7px; font-family: "Roboto", Arial, sans-serif; font-weight: 700; }
.exposition__name { font-size: 18px; line-height: 22px; color: #363636; font-family: "Roboto", Arial, sans-serif; font-weight: 300; }

h4 + .exposition__wrap { margin-top: 10px; }

.exposition__wrap { color: #8c8c8c; font-size: 15px; font-family: "Roboto", Arial, sans-serif; font-weight: 500; }
.exposition__wrap span { color: #8c8c8c; margin-left: 2px; font-family: "Roboto", Arial, sans-serif; font-weight: 300; }
.exposition__wrap a { font-size: 15px; color: #2ec154; line-height: 16px; margin-left: 5px; border-bottom: 1px solid #2ec154; font-family: "Roboto", Arial, sans-serif; font-weight: 400; }
.exposition__wrap a:hover { border-bottom: 1px solid transparent; }

.prod-tab { border-bottom: 1px solid #d9d9d9; *zoom: 1; }
.prod-tab:after { content: " "; display: table; clear: both; }
.prod-tab .is-active { color: #FFF; background-color: #707070; }
.prod-tab__item { display: inline-block; }
.prod-tab__item a { display: block; line-height: 24px; font-size: 15px; padding: 0 15px; color: #363636; background-color: #FFF; font-family: "Roboto", Arial, sans-serif; font-weight: 300; }

.tab-cont { position: relative; margin: 10px 0 15px; }
.tab-cont p { font-size: 14px; color: #363636; line-height: 15px; font-family: "Roboto", Arial, sans-serif; font-weight: 500; }
.tab-cont .input__row { margin-top: 20px; padding-bottom: 20px; border-bottom: 1px solid #d9d9d9; }

.shoe__size li { line-height: 17px; padding: 3px 11px; font-family: "Roboto", Arial, sans-serif; font-weight: 300; }
.shoe__size li:hover { background-color: #E2E2E2; }

.catalog__bay { margin-top: 20px; padding-bottom: 20px; border-bottom: 1px solid #d9d9d9; }
.catalog__bay p { float: left; width: 110px; font-size: 20px; line-height: 35px; font-family: "Roboto", Arial, sans-serif; font-weight: 700; }
.catalog__bay p span { font-size: 18px; font-family: "Roboto", Arial, sans-serif; font-weight: 300; }

.catalog__bay a, .store__locate { position: relative; font-size: 15px; display: inline-block; color: #2ec154; margin-right: 10px; margin-top: 10px; border-bottom: 1px dotted #2ec154; font-family: "Roboto", Arial, sans-serif; font-weight: 300; }
.catalog__bay a:hover, .store__locate:hover { border-bottom: 1px solid transparent; }

.store__locate { margin-left: 25px; }
.store__locate i { position: absolute; top: -2px; left: -23px; background: url('../img/icons-sb52201b83f.png') 0 -778px no-repeat; width: 17px; height: 24px; }

.slick-slider { position: relative; display: block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-loading .slick-list { background: white slick-image-url("ajax-loader.gif") center center no-repeat; }
.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide img { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; zoom: 1; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }
.slick-slide img { display: block; max-width: 100%; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

.slick-prev, .slick-next { position: absolute; top: 50%; margin-top: -28px; font: 0/0 a; text-shadow: none; color: transparent; height: 50px; background: none; }
.slick-prev:focus, .slick-next:focus { outline: none; }
.slick-prev.slick-disabled, .slick-next.slick-disabled { opacity: 0; }
.slick-prev:before, .slick-next:before { height: 50px; line-height: 50px; }

.slick-prev { left: -27px; width: 56px; }
.slick-prev:before { content: ""; display: inline-block; vertical-align: middle; font-size: 61px; color: #fff; background: url('../img/icons-sb52201b83f.png') 0 -1713px no-repeat; width: 36px; height: 36px; }

.slick-next { right: 0; }
.slick-next:before { content: ""; display: inline-block; vertical-align: middle; font-size: 61px; color: #fff; background: url('../img/icons-sb52201b83f.png') 0 -1759px no-repeat; width: 36px; height: 36px; }

.slick-dots { text-align: center; position: absolute; margin: 0; bottom: 0; left: 0; right: 0; }
.slick-dots li { position: relative; display: inline-block; padding: 0 3px; }
.slick-dots li.slick-active button { opacity: 0.3; box-shadow: none; }
.slick-dots li:before { display: none; }
.slick-dots button { display: block; width: 6px; height: 6px; background: #fff; -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); cursor: pointer; font: 0/0 a; text-shadow: none; color: transparent; border-radius: 50%; }
.slick-dots button:hover { box-shadow: none; }

.big__title { font-size: 20px; text-transform: uppercase; color: #363636; text-align: left; line-height: 36px; margin-top: 10px; border-bottom: 1px solid #d4d4d4; font-family: "Roboto", Arial, sans-serif; font-weight: 700; }

.regist__form { margin: 30px 0 30px 0; *zoom: 1; }
.regist__form:after { content: " "; display: table; clear: both; }

.registration { position: relative; width: 505px; height: 50px; *zoom: 1; }
.registration:after { content: " "; display: table; clear: both; }
.registration p { text-align: center; font-size: 0; font-size: 17px; color: #363636; text-align: left; float: left; width: 160px; line-height: 17px; margin-top: 4px; font-family: "Roboto", Arial, sans-serif; font-weight: 400; }
.registration p:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.registration__inp { float: right; width: 322px; height: 28px; border: 1px solid #d4d4d4; background-color: #F2F2F2; padding: 0 10px; color: #363636; font-size: 16px; }
.registration__check { position: relative; width: 344px; float: right; }
.registration__check .radio input:checked + span:after { left: -30px; top: 12px; background: url('../img/icons-sb52201b83f.png') 0 -105px no-repeat; width: 14px; height: 10px; }
.registration__check .radio span { margin-left: 37px; font-size: 15px; line-height: 21px; color: #707070; font-family: "Roboto", Arial, sans-serif; font-weight: 400; }
.registration__check .radio span:before { left: -37px; background: url('../img/icons-sb52201b83f.png') 0 -1232px no-repeat; width: 26px; height: 26px; }
.registration .btn { width: 192px; float: right; }

.table__head th { position: relative; margin-top: -1px; border-bottom: 1px solid #C9C9C9; }
.table__head th:after { content: ""; position: absolute; top: 5px; right: -1px; width: 1px; height: 45px; background-color: #c9c9c9; z-index: 1; }
.table__head th:last-child::after { display: none; }
.table__head th.is_active { border-left: 1px solid #C9C9C9; border-right: 1px solid #C9C9C9; background-color: #f0f0f0; }
.table__head th:first-child.is_active { border-right: 1px solid #C9C9C9; border-left: 1px solid transparent; }
.table__head th:last-child.is_active { border-left: 1px solid #C9C9C9; border-right: 1px solid transparent; }
.table__head th p { color: #707070; line-height: 57px; font-size: 15px; font-family: "Roboto", Arial, sans-serif; font-weight: 300; }
.table__head th p span { font-size: 17px; font-family: "Roboto", Arial, sans-serif; font-weight: 700; }

.thing li { display: inline-block; line-height: 40px; color: #707070; font-size: 15px; font-family: "Roboto", Arial, sans-serif; font-weight: 300; }

.thing__item_1 { width: 140px; }

.thing__item_2 { width: 330px; }

.thing__item_3 { width: 110px; }

.thing__item_4 { width: 110px; }

.thing__item_5 { width: 145px; }

.thing__item_6 { width: 135px; }

.thing__item_7 { width: 89px; }

.offspring li { display: inline-block; }

.offspring__item_1 { width: 120px; margin-right: 20px; }

.offspring__item_2 { width: 310px; margin-right: 20px; }

.offspring__item_3 { width: 90px; margin-right: 20px; }

.offspring__item_4 { width: 90px; margin-right: 20px; }

.offspring__item_5 { width: 125px; margin-right: 20px; }

.offspring__item_6 { width: 115px; margin-right: 20px; }

.crumb { float: left; padding: 10px 0; *zoom: 1; }
.crumb:after { content: " "; display: table; clear: both; }
.crumb li { display: inline-block; }
.crumb a { font-size: 15px; color: #363636; border-bottom: 1px solid #363636; font-family: "Roboto", Arial, sans-serif; font-weight: 300; }
.crumb a:hover { color: #2ec154; border-bottom: 1px solid transparent; }
.crumb .is_active { font-size: 15px; color: #2ec154; }

.catalog { margin-top: 15px; }

.sidebar { width: 183px; float: left; *zoom: 1; }
.sidebar:after { content: " "; display: table; clear: both; }
.sidebar__wrap { *zoom: 1; }
.sidebar__wrap:after { content: " "; display: table; clear: both; }
.sidebar__title { position: relative; margin-bottom: 10px; font-size: 15px; text-transform: uppercase; border-bottom: 1px solid #d9d9d9; font-family: "Roboto", Arial, sans-serif; font-weight: 500; }
.sidebar__title button { text-transform: uppercase; position: absolute; font-size: 15px; background-color: transparent; color: #828282; font-family: "Roboto", Arial, sans-serif; font-weight: 300; }
.sidebar__title .close { position: absolute; top: 5px; right: 0; background: url('../img/icons-sb52201b83f.png') 0 -195px no-repeat; width: 12px; height: 12px; }
.sidebar__title .kick { position: absolute; top: 3px; right: 0; }

.branch { position: relative; padding: 0px 0 10px; }
.branch li { display: block; }

.radio { display: inline-block; color: #363636; }
.radio input { position: absolute; left: 0; top: 4px; opacity: 0; z-index: 2; }
.radio input:checked + span:after { content: ""; position: absolute; left: -25px; top: 4px; width: 8px; height: 8px; background: url('../img/icons-sb52201b83f.png') 0 -81px no-repeat; width: 14px; height: 14px; }
.radio span { position: relative; display: inline-block; padding-left: 0px; margin-left: 25px; margin-bottom: 5px; font-size: 15px; font-family: "Roboto", Arial, sans-serif; font-weight: 300; }
.radio span:before { content: ""; position: absolute; left: -25px; top: 4px; background: url('../img/icons-sb52201b83f.png') 0 -1208px no-repeat; width: 14px; height: 14px; }

.filter__body { padding-top: 19px; width: 98%; }

.ui-widget-content { position: relative; height: 3px; background-color: #C5C3C3; }

.ui-slider-range { position: absolute; z-index: 1; top: 0; height: 3px; background-color: #707070; }

.ui-slider-handle { position: absolute; top: 50%; margin: -5px 0 0; width: 3px; height: 9px; background-color: #3E3C3C; z-index: 2; }
.ui-slider-handle span { display: none; }

.ui-slider__top .input { width: 36px; margin-top: 5px; }

.js-ui-slider-from { float: left; }

.js-ui-slider-to { float: right; margin-right: -5px; }

.scroll-pane { width: 100%; height: 175px; overflow: auto; margin-top: 10px; }
.scroll-pane:focus { outline: none; }

.stem { float: right; width: 837px; *zoom: 1; }
.stem:after { content: " "; display: table; clear: both; }

.trunk { height: 25px; border-bottom: 1px solid #d4d4d4; *zoom: 1; }
.trunk:after { content: " "; display: table; clear: both; }
.trunk__left { float: left; }
.trunk p, .trunk a { display: inline-block; font-size: 15px; color: #707070; text-transform: uppercase; font-family: "Roboto", Arial, sans-serif; font-weight: 300; }
.trunk a { margin: 0 5px 0 2px; line-height: 1.2; border-bottom: 1px dotted #707070; }
.trunk a:hover { color: #2ec154; border-bottom: 1px solid transparent; }

.trunk__right { float: right; }
.trunk__right a { position: relative; border-bottom: none; padding-right: 20px; color: #363636; font-family: "Roboto", Arial, sans-serif; font-weight: 500; }
.trunk__right a i { position: absolute; top: 7px; right: 0; background: url('../img/icons-sb52201b83f.png') 0 -1805px no-repeat; width: 11px; height: 6px; }

.shaft { margin-top: 5px; }
.shaft a { display: inline-block; font-size: 12px; color: #F00; line-height: 1.2; border-bottom: 1px dotted #f00; text-transform: uppercase; margin-right: 10px; font-family: "Roboto", Arial, sans-serif; font-weight: 300; }
.shaft a:hover { border-bottom: 1px solid transparent; }
.shaft p { position: relative; display: inline-block; color: #707070; font-size: 12px; margin-right: 40px; text-transform: uppercase; font-family: "Roboto", Arial, sans-serif; font-weight: 300; }
.shaft p button { background-color: transparent; position: absolute; top: 3px; right: -17px; background: url('../img/icons-sb52201b83f.png') 0 -195px no-repeat; width: 12px; height: 12px; }

.gallery { padding-bottom: 20px; }

.lot { position: relative; vertical-align: top; display: inline-block; width: 275px; margin-top: 15px; *zoom: 1; }
.lot:after { content: " "; display: table; clear: both; }
.lot:hover button { display: block; }
.lot:hover .lot__visible { z-index: 5; }
.lot:hover .lot__wrap { display: block; z-index: 2; }
.lot__visible { position: relative; width: 245px; margin: 10px auto 0; z-index: 1; }
.lot__visible img { width: 100%; height: 320px; }
.lot__cost { *zoom: 1; }
.lot__cost:after { content: " "; display: table; clear: both; }
.lot__name { text-transform: uppercase; width: 160px; font-size: 15px; color: #363636; float: left; font-family: "Roboto", Arial, sans-serif; font-weight: 700; }
.lot__price { font-size: 18px; color: #363636; float: right; margin-left: 15px; font-family: "Roboto", Arial, sans-serif; font-weight: 400; }
.lot__price span { font-size: 15px; font-family: "Roboto", Arial, sans-serif; font-weight: 300; }
.lot__item { font-size: 15px; color: #707070; line-height: 18px; font-family: "Roboto", Arial, sans-serif; font-weight: 300; }
.lot button { display: none; position: absolute; top: 5px; right: 5px; z-index: 3; background: url('../img/icons-sb52201b83f.png') 0 -426px no-repeat; width: 32px; height: 32px; }
.lot__wrap { display: none; position: absolute; height: 430px; background-color: #FFF; top: 0px; bottom: 0; left: 0; right: 0; border: 1px solid #e3e3e3; -moz-box-shadow: 0 6px 35px rgba(0, 0, 0, 0.13); -webkit-box-shadow: 0 6px 35px rgba(0, 0, 0, 0.13); box-shadow: 0 6px 35px rgba(0, 0, 0, 0.13); }
.lot__size { position: absolute; bottom: 5px; left: 15px; text-transform: uppercase; font-size: 15px; font-family: "Roboto", Arial, sans-serif; font-weight: 500; }

.slider { position: relative; margin: 0 auto; float: left; width: 100%; height: 482px; }
.slider .cycle-slideshow { overflow: hidden; }

.big-slider { *zoom: 1; }
.big-slider:after { content: " "; display: table; clear: both; }
.big-slider__item { position: static; top: 0; left: 0; width: 100%; z-index: 100; opacity: 1; visibility: hidden; display: block; height: 482px; }
.big-slider__img { position: absolute; width: 2000px; left: 50%; margin-left: -1000px; text-align: center; height: 482px; }
.big-slider__img img { height: 100%; width: auto; }
.big-slider__content { color: #fff; padding: 77px 0 20px; text-align: center; }
.big-slider__content h2 { text-transform: uppercase; font-size: 64px; line-height: 65px; color: #FFF; font-family: "Roboto", Arial, sans-serif; font-weight: 700; }
.big-slider__content p { font-size: 20px; font-family: "Roboto", Arial, sans-serif; font-weight: 300; }
.big-slider__content .btn { width: 265px; height: 67px; font-size: 20px; color: #2ec154; line-height: 60px; margin-left: -70px; margin-top: 29px; }
.big-slider__content .btn i { position: absolute; top: 15px; right: -50px; background: url('../img/icons-sb52201b83f.png') 0 -348px no-repeat; width: 32px; height: 36px; }
.big-slider__content .btn:after { content: ""; position: absolute; top: 0; bottom: 0; right: -73px; width: 69px; margin-top: -2px; height: 100%; border: 2px solid #2ec154; background-color: transparent; }

.slider .nav { position: absolute; bottom: 15px; left: 50%; -moz-transform: translate(-50%, 0%); -ms-transform: translate(-50%, 0%); -webkit-transform: translate(-50%, 0%); transform: translate(-50%, 0%); z-index: 999; *zoom: 1; }
.slider .nav button { width: 13px; height: 13px; border-radius: 50%; background-color: #878686; opacity: 0.8; margin-left: 5px; }
.slider .nav button:hover { -ms-transform: scale(1.1); -webkit-transform: scale(1.1); transform: scale(1.1); }
.slider .nav .is-active { width: 13px; height: 13px; background-color: #302f2f; }
.slider .nav:after { content: " "; display: table; clear: both; }

.line { background-color: #302f2f; *zoom: 1; }
.line:after { content: " "; display: table; clear: both; }
.line__list { font-size: 0; height: 83px; *zoom: 1; }
.line__list:after { content: " "; display: table; clear: both; }
.line__list li { text-align: center; display: inline-block; width: 33%; height: 83px; vertical-align: top; }
.line__list a { display: block; position: relative; text-align: center; font-size: 0; font-size: 15px; line-height: 15px; padding-left: 80px; color: #FFF; margin-top: 30px; font-family: "Roboto", Arial, sans-serif; font-weight: 400; }
.line__list a:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.line__list a span { color: #2ec154; font-family: "Roboto", Arial, sans-serif; font-weight: 700; }
.line__list a i { position: absolute; }
.line__list a .delivery1 { top: -20px; left: 25px; background: url('../img/icons-sb52201b83f.png') 0 -280px no-repeat; width: 58px; height: 58px; }
.line__list a .shoes { top: -5px; left: 35px; background: url('../img/icons-sb52201b83f.png') 0 -1638px no-repeat; width: 66px; height: 38px; }
.line__list a .return { top: -12px; left: 85px; background: url('../img/icons-sb52201b83f.png') 0 -1389px no-repeat; width: 64px; height: 31px; }

.mark { width: 213px; display: inline-block; padding: 10px 0 30px; height: 265px; *zoom: 1; }
.mark:after { content: " "; display: table; clear: both; }
.mark__img { position: relative; width: 215px; height: 125px; margin-bottom: 35px; }
.mark img { position: absolute; bottom: 0; left: 50%; -moz-transform: translate(-50%, 0); -ms-transform: translate(-50%, 0); -webkit-transform: translate(-50%, 0); transform: translate(-50%, 0); max-width: 100%; max-height: 100%; width: auto; height: auto; }
.mark__name { font-size: 15px; color: #363636; text-transform: uppercase; text-align: center; font-family: "Roboto", Arial, sans-serif; font-weight: 300; }
.mark__price { font-size: 18px; text-align: center; font-family: "Roboto", Arial, sans-serif; font-weight: 400; }
.mark__price span { font-size: 15px; font-family: "Roboto", Arial, sans-serif; font-weight: 300; }
.mark .btn { display: block; width: 155px; height: 33px; font-size: 15px; text-align: left; padding-left: 20px; margin: 18px auto 10px; font-family: "Roboto", Arial, sans-serif; font-weight: 700; }
.mark .btn i { position: absolute; top: 5px; right: 25px; background: url('../img/icons-sb52201b83f.png') 0 -31px no-repeat; width: 15px; height: 15px; }
.mark .btn:hover { background-color: #2ec154; color: #FFF; }
.mark .btn:hover i { background: url('../img/icons-sb52201b83f.png') 0 -56px no-repeat; width: 15px; height: 15px; }

.stick { padding-bottom: 30px; *zoom: 1; }
.stick:after { content: " "; display: table; clear: both; }

.rod { position: relative; width: 50%; float: left; *zoom: 1; }
.rod:after { content: " "; display: table; clear: both; }
.rod__img { background-color: #FFF; position: relative; float: left; width: 246px; height: 280px; text-align: center; overflow: hidden; margin-right: 30px; }
.rod__img_wrap { position: absolute; top: 50%; left: 50%; -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.rod__title { display: inline; font-size: 20px; line-height: 20px; text-transform: uppercase; color: #363636; margin-bottom: 10px; font-family: "Roboto", Arial, sans-serif; font-weight: 700; }
.rod p { font-size: 14px; color: #363636; font-family: "Roboto", Arial, sans-serif; font-weight: 300; }
.rod button { width: 130px; height: 31px; padding-left: 10px; text-align: left; margin-top: 20px; }
.rod button i { position: absolute; top: 8px; right: 12px; background: url('../img/icons-sb52201b83f.png') 0 -1268px no-repeat; width: 11px; height: 11px; }

.cane { padding-bottom: 10px; *zoom: 1; }
.cane:after { content: " "; display: table; clear: both; }

.twig { width: 244px; display: inline-block; margin-right: 30px; vertical-align: top; }
.twig:nth-child(4n) { margin-right: 0; }
.twig__img { background-color: #FFF; position: relative; float: left; width: 100%; height: 150px; text-align: center; overflow: hidden; margin-right: 30px; margin-bottom: 9px; }
.twig__img_wrap { position: absolute; top: 50%; left: 50%; -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.twig__title { font-size: 16px; line-height: 16px; color: #363636; border-bottom: 1px dotted #363636; font-family: "Roboto", Arial, sans-serif; font-weight: 700; }
.twig__title:hover { color: #2ec154; border-bottom: 1px solid transparent; }
.twig p { color: #363636; font-size: 13px; margin-top: 5px; }

.js-validate { margin-bottom: 10px; }

.input-wrap { margin-top: 10px; position: relative; }
.input-wrap span { font-size: 15px; color: #363636; font-family: "Roboto", Arial, sans-serif; font-weight: 300; }
.input-wrap input { width: 251px; height: 29px; padding: 0 10px; border: 1px solid #cfc8c8; background-color: #f5f5f5; }
.input-wrap label { position: absolute; bottom: -20px; left: 0; color: #f00; font-size: 12px; }

.push { clear: both; height: 395px; }

.clear { display: table; height: 0; clear: both; }

a { text-decoration: none; }

.w_container { background-color: #FFF; *zoom: 1; }
.w_container:after { content: " "; display: table; clear: both; }

.g_container { background-color: #f7f4f4; *zoom: 1; }
.g_container:after { content: " "; display: table; clear: both; }

.title { position: relative; width: 100%; white-space: nowrap; font-size: 25px; color: #363636; overflow: hidden; text-align: center; background-color: transparent; margin: 30px 0 15px; text-transform: uppercase; font-family: "Roboto", Arial, sans-serif; font-weight: 300; }
.title:before, .title:after { content: ""; position: relative; display: inline-block; vertical-align: middle; width: 50%; height: 4px; top: -1px; border-bottom: 1px solid #2ec154; }
.title:after { right: -10px; margin-right: -50%; }
.title:before { left: -10px; margin-left: -50%; }

.p20 { padding: 20px 0; }

.red { color: #ed1c24; }

.inherit { color: inherit; }

.btn { position: relative; background-color: transparent; border: 2px solid #2ec154; color: #2ec154; text-transform: uppercase; }

.bay { width: 160px; height: 35px; background-color: #2ec154; color: #FFF; font-size: 15px; font-family: "Roboto", Arial, sans-serif; font-weight: 700; }

.hide { display: none; }

.show { display: block; }
