// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)
// =book
// 	font-family: "book", Arial, sans-serif
// insert pics into css
// div
// 	+pic("blabla.png")
// span
// 	+png(blabla)
// p
// 	+jpg(bla)


=rl
	font-family: Roboto, Arial, sans-serif
	font-weight: 300 //light
=rr
	font-family: Roboto, Arial, sans-serif
	font-weight: 400 //regular

=rb
	font-family: Roboto, Arial, sans-serif
	font-weight: 700 //bold

body
	font-family: Roboto, Arial, sans-serif
	font-size: 14px
	line-height: 1.6
	min-width: 1100px
	width: 100%
	background-color: #FFF


$n: transparent
$tc: #363636
$green: #2ec154


// common blocks

.out
	position: relative
	margin: 0 auto -0px //-415 footer height
	+clr

.l_container
	position: relative
	width: 1080px
	padding: 0 10px
	margin: 0 auto
	+clr

//header

.header
	+clr
	&__top
		background-color: #FFF
		+clr
		a
			position: relative
			float: left
			width: 360px
			line-height: 45px
			text-align: center
			color: #363636
			text-transform: uppercase
			+rb
			&:hover
				color: $green
			&:before
				content: ""
				position: absolute
				top: 15px
				left: 0
				+s(fance)
			&:last-child
				&:after
					content: ""
					position: absolute
					top: 15px
					right: 0
					+s(fance)
.header__share i,
.header__delivery i,
.heaader__shop i
	position: absolute
	top: 12px
.header__share i
	left: 90px
	+s(share)
.header__delivery i
	left: 60px
	+s(delivery)
.heaader__shop i
	left: 90px
	+s(shop)

.header__center
	background-color: #F5F5F5
	padding: 1px
	+clr
.logo
	margin: 12px 0
	float: left
	+s(logo)
	+hide-text
.work
	width: 545px
	float: right
	margin-top: 55px
	+clr
	&_1
		float: left
	&_2
		float: right
	a
		display: inline-block
		position: relative
		font-size: 20px
		line-height: 24px
		color: $tc
		margin-bottom: 19px
		+rl
		&:hover
			color: $green
		i
			position: absolute
			top: 2px
	p
		position: relative
		font-size: 16px
		color: #666
		+rl
		i
			position: absolute
			top: 2px
			left: -29px
			+s(clock)
.header__tel i
	left: -25px
	+s(mob)

.header__user
	position: relative
	a
		font-size: 18px
		&:hover
			color: $green
	i
		position: absolute
		top: 2px
		left: -30px
		+s(enter)
	span
		font-size: 20px
		padding: 0 2px
.header__reg
	font-size: 18px
	i
		left: -30px
		+s(basket)
	span
		padding: 0 3px
.header__bottom
	background-color: #F5F5F5
	padding: 1px
	+clr
.header__nav
	float: left
	+clr
	li
		position: relative
		display: inline-block
		height: 75px
		&:before
			content: ""
			position: absolute
			left: -3px
			top: 35px
			+s(header_ball)
		&:first-child
			&:before
				display: none
			a
				margin-left: 0
	a
		display: inline-block
		color: $tc
		border-bottom: 1px solid $n
		font-size: 16px
		margin: 25px 18px 0
		+rl
		&:hover
			color: $green
			border-bottom: 1px solid $green
.header__search
	width: 420px
	float: right
	&_wrap
		position: relative
		margin-top: 25px
		float: left
		input
			width: 240px
			height: 28px
			border: 1px solid #e4e4e4
			color: #A3A3A3
			font-style: italic
			line-height: 28px
			padding: 0 28px 0 14px
		button
			position: absolute
			background-color: $n
			top: 7px
			right: 10px
			+s(lupa)
	a
		color: $green
		font-size: 13px
		border-bottom: 1px dotted $green
		float: right
		margin-right: 2px
		margin-top: 30px
		&:hover
			border-bottom: 1px solid $n


//footer

.footer
	// height: 415px
	+clr
	&__subscribe
		background-color: #302F2F
		height: 60px
		&_wrap
			height: 60px
			width: 840px
			position: absolute
			top: 50%
			left: 50%
			+translate(-50%,0%)
			p
				float: left
				font-size: 18px
				color: #FFF
				line-height: 60px
				margin-right: 25px
				+rl
		&_search
			float: left
			position: relative
			input
				width: 190px
				padding: 5px 45px 5px 15px
				color: #707070
				font-size: 14px
				margin-top: 15px
				margin-right: 10px
				+rl
			button
				position: absolute
				top: 20px
				right: 20px
				+s(letter)

.footer__submit
	width: 245px
	height: 27px
	text-align: center
	padding: 5px 0
	color: #FFF
	margin-top: 15px
	background-color: #707070
	+rl
.footer__center
	background-color: #FFF
	padding: 30px 0 20px
	border-bottom: 1px solid #DFDFDF
	+clr
	&_left
		float: left
		width: 200px
		height: 205px
		+clr

.footer__logo
	+s(logo_f)
	float: left
	+hide-text
.footer__button
	position: relative
	margin-top: 10px
	float: left
	width: 127px
	height: 31px
	color: #FFF
	font-size: 13px
	+border-radius(3px)
	+g(#4b6aba, #3a58a0)
	+rr
	i
		position: absolute
		top: 4px
		left: 4px
		+s(f_blue)

.footer__list
	float: left
	margin-right: 90px
	&:last-child
		margin-right: 0
	li
		line-height: 24px
		color: $tc
		+rl
	h3
		line-height: 28px
		color: $tc
		+rb
	a,
	.soc
		display: inline-block
		line-height: 24px
		color: $tc
		position: relative
		+rl
		&:hover
			color: $green
	.soc
		margin-left: 23px
	i
		position: absolute
		top: 5px
	span
		margin-bottom: 5px
		+rr
.vk
	left: -25px
	+s(vk)
.ins
	left: -22px
	+s(inst)
.f
	left: -20px
	+s(f)

.footer__bottom
	position: relative
	padding: 20px 0 15px
	+clr

.copy
	float: left
	width: 122px
	+clr
.footer__nav
	+vcenter
	li
		display: inline-block
		text-align: center
		margin-right: 20px
		+rr
	a
		position: relative
		display: block
		color: $tc
		font-size: 13px
		margin-top: 35px
		&:hover
			color: $green
		i
			position: absolute

.self
	top: -23px
	left: 23px
	+s(shop)
.courier
	top: -28px
	left: 20px
	+s(courier)
.post
	top: -28px
	left: 23px
	+s(pr)
.pick
	top: -28px
	left: 40px
	+s(pickpoint)

.fin
	float: right
	width: 318px
	button
		position: relative
		width: 53px
		height: 33px
		background-color: $n
		+border-radius(5px)
		+box-shadow(0 1px 2px rgba(0,0,0,.17))
		&:hover
			+box-shadow(none)

.q,
.wb,
.jd,
.mc,
.v
	+vcenter

.q
	+s(q)
.wb
	+s(wb)
.jd
	+s(jd)
.mc
	+s(mc)
.v
	+s(v)


























































